.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-btn {
    padding: 10px 20px;
    background-color: #fca311;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-btn:hover {
    background-color: #e59800;
  }
  iframe{
    width:680px;
    
    height: 500px;
  }  
  .map{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:100px;

  }
  .contact-wrapper{
display: flex;
  }